<header>
  <div class="header" fxLayout="column" fxLayoutAlign=" center" fxFlex="90" fxLayoutGap="10px">
    <div class="avatar">
      <img src="./assets/profilePhoto.png" alt="" class="photo"><br>
      <span class="name">Rodney Cotton</span><br>
      <span class="location">Helsenki, Finland</span>
    </div>
    <div class="followers" fxLayout="row" fxLayoutGap="10px">
      <div class="info">
        <span class="number">100</span><br>
        <span>Posts</span>
      </div>
      <div class="info">
        <span class="number">2,242</span><br>
        <span>Follower</span>
      </div>
      <div class="info">
        <span class="number">1,432</span><br>
        <span>Following</span>
      </div>
    </div>
  </div>
</header>
<div class="">
<main fxLayout="column" fxLayoutGap="10px" fxFlex="90">
  <div class="main" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex>
    <div class="divA" fxFlex="34">
      <img src="./assets/photo1.png" alt="">
    </div>
    <div class="divB" fxFlex="64">
      <img src="./assets/photo2.png" alt="">
    </div>
  </div>
  <div class="main" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex>
    <div class="rowA" fxLayout="column" fxFlex="64" fxLayoutGap="10px">
      <div class="" fxFlex="100">
        <img src="./assets/photo3.png" alt="">
      </div>
      <div class="" fxFlex="100" fxLayoutAlign="space-between">
        <div class="divA" fxFlex="48.5">
          <img src="./assets/photo6.png" alt="">
        </div>
        <div class="divA" fxFlex="48.5">
          <img src="./assets/photo5.png" alt="">
        </div>
      </div>
    </div>
    <div class="divB" fxFlex="34">
      <img src="./assets/photo_4.png" alt="">
    </div>
  </div>
</main>
</div>
<footer>
  <div class="footer" fxLayout="row" fxFlex="90" fxLayoutAlign="center center">
    <p>created ba Affali Stephane 07 59 60 27 15 - <a href="#">devchallenges.io</a> </p>
  </div>
</footer>
